---
import Layout from "@/layouts/Layout.astro";
import { resolveViewByPath } from "@/lib/views";

const view = resolveViewByPath([]);
---

<Layout title={view.title} description={view.description}>
  <h1>{view.title}</h1>
  <p>{view.description}</p>
  <ul>
    {
      view.entries.map((entry) => (
        <li>
          {entry.current?.[0] ? (
            <a href={`https://${entry.current[0].url}`}>{entry.name}</a>
          ) : (
            <span>{entry.name}</span>
          )}
          {' '}
          <small>{entry.provider}</small>
        </li>
      ))
    }
  </ul>
</Layout>
